/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Slider Styles
===============
*/
section {
  width: 85vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  padding: 1rem 0;
  /* set relative for buttons */
  position: relative;
}
.reviews {
  margin-bottom: 4rem;
}
.reviews h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
}
.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid var(--clr-grey-7);
  background: var(--clr-white);
  padding: 0.25rem;
  border-radius: 50%;
  box-shadow: var(--dark-shadow);
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
  margin: 0.5rem 0;
}
.title {
  margin-bottom: 1.25rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.text {
  color: var(--clr-grey-5);
  line-height: 1.8;
  max-width: 35em;
  margin: 0 auto;
  letter-spacing: 1px;
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.quote-icon {
  font-size: 3rem;
  margin-top: 2rem;
  color: var(--clr-primary-5);
}
/* set buttons */
.btn {
  position: absolute;
  top: 175px;
  background: var(--clr-grey-5);
  color: var(--clr-white);
  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
  border: transparent;
  cursor: pointer;
}
.next-btn {
  right: -0.5rem;
}
.prev-btn {
  left: -0.5rem;
}
@media screen and (min-width: 768px) {
  .next-btn {
    right: -5rem;
  }
  .prev-btn {
    left: -5rem;
  }
  .btn {
    font-size: 1.3rem;
    padding: 0.35rem 0.5rem;
  }
  .quote-icon {
    font-size: 4rem;
  }
}

/* MORE CSS FOR JS */

.slide-container {
  display: flex;
  position: relative;
  height: 450px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}
.slide.next {
  transform: translateX(100%);
}
.slide.last {
  transform: translateX(-100%);
}
