*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-100: hsl(21, 94%, 87%);
  --primary-200: hsl(21, 80%, 74%);
  --primary-300: hsl(21, 65%, 59%);
  --primary-400: hsl(21, 57%, 50%);
  /* primary/main color */
  --primary-500: hsl(21, 62%, 45%);
  --primary-600: hsl(21, 77%, 34%);
  --primary-700: hsl(21, 81%, 29%);
  --primary-800: hsl(21, 84%, 25%);
  --primary-900: hsl(21, 91%, 17%);

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/*
=============== 
Numbers 
===============
*/

section {
  padding: 5rem 0;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

article {
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: var(--borderRadius);
  border-bottom: 4px solid transparent;
}

article span {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

article p {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.5rem;
}

article:nth-of-type(1) {
  border-bottom-color: #f59e0b;
}
article:nth-of-type(2) {
  border-bottom-color: #14b8a6;
}
article:nth-of-type(3) {
  border-bottom-color: #a855f7;
}
